:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d8e4ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f59e0b;
  text-decoration: inherit;
}
a:hover {
  color: #fbbf24;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #464646;
  background-image: radial-gradient(circle, rgba(250, 247, 76, 0.07) 1.5px, transparent 1.5px);
  background-size: 28px 28px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1e293b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f59e0b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
